<header class="page-header">
  <h1>Signup!</h1>
  </header>

<%= form_for :user, url: '/users' do |form|%>

  <div class="form-group mt-3">
     Name: <%= form.text_field :name %>
  </div>

  <div class="form-group mt-3">
    Email: <%= form.text_field :email %>
  </div>

    <div class="form-group mt-3">
    Password: <%= form.text_field :password %>
  </div>

  <div class="form-group mt-3">
    Password Confirmation: <%= form.text_field :password_confirmation %>
  </div>

  <div class="mt-3">
  <%= form.submit "Submit" %>
  </div>
<% end %>